* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background: #1abc9c;
    color: white;
    font-size: 30px;
    height: 5vh;
}

.header img {
    height: 50px;
    margin-right: 20px;
}

.header h1 {
    font-size: 38px;
    flex-grow: 1;
}

.header a {
    font-size: 28px;
    padding: 12px;
    color: white;
    text-align: center;
    line-height: 25px;
    border-radius: 4px;
    text-decoration: none;
}

.header a.download {
    background: #FFFDE7;
}

.header-right {
    display: flex;
}

.header a:hover {
    color: mintcream;
}

#downloadbutton {
    background: green;
    min-height: auto;
}

#header-title {
    font-size: 38px;
}

.main-content {
    display: flex;
    flex: 1;
    width: 100%;
}

.boxes {
    display: flex;
    flex: 1;
    width: 100%;
}

.left, .middle, .right {
    flex: 1;
}

.left {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #FEFAE0;
    box-shadow: 30px 0 40px -10px rgba(0, 0, 0, 0.5);
}

#left-title {
    color: #CCD5AE;
    margin-bottom: 30%;
}

#left-title h1 {
    font-size: 35px;
}

#left-title h2 {
    font-size: 50px;
}

#left-title p {
    font-size: 22px;
    color: black;
}

#pregnant {
    position: absolute;
    height: 40%;
    bottom: 0;
    left: 0;
}

#hearts {
    position: absolute;
    margin-top: 50px;
    margin-left: 50px;
    height: 15%;
    top: 0;
    left: 0;
}

.middle {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #CCD5AE;
}

#topright {
    position: absolute;
    top: 0;
    right: 0;
    object-fit: cover;
    z-index: 1;
}

#bottomleft {
    position: absolute;
    bottom: 0;
    left: 0;
    object-fit: cover;
    z-index: 0;
}

#middle-title {
    font-weight: bold;
    margin-top: 15%;
    color: #FEFAE0;
    z-index: 1;
}

#middle-title h1 {
    font-size: 50px;
}

#features {
    font-size: 20px;
    align-items: center;
    padding: 5%;
}

#guide {
    margin-top: 70px;
    font-size: 20px;
    align-items: center;
}

#description {
    padding: 5%;
}

.right {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #FEFAE0;
}

.right h1 {
    font-size: 50px;
    color: #CCD5AE;
}

#bone {
    height: 45%;
    position: absolute;
    bottom: 0;
    right: 0;
    object-fit: cover;
    z-index: 0;
}

.download {
    margin-top: 10%;
}

.download a {
    font-size: 28px;
}

.donate {
    margin-top: 50px;
}

.donate a {
    font-size: 28px;
}

.contact {
    margin-top: 50px;
}

.contact a {
    font-size: 28px;
}

#twittericon {
    font-size: 24px;
}

#info-icon {
    font-size: 24px;
}

#paypalicon {
    font-size: 24px;
}

#downloadicon {
    font-size: 24px;
}

.faq {
    margin-top: 20%;
    z-index: 1;
}

.faq p {
    color: #CCD5AE;
    font-size: 20px;
    padding: 5%;
    font-weight: bold;
}
